<div class="page-header">
    <h1>Új hiba bejelentése</h1>
</div>

<form class="form-horizontal" method="post">
    <fieldset>
        <div class="form-group
            {{#if validationErrors.csapatNev}}
                has-error
            {{/if}}
        ">
            <label for="csapatNev" class="col-lg-2 control-label">Csapatnév</label>
            <div class="col-lg-10">
                <input class="form-control" id="csapatNev" name="csapatNev" placeholder="Ide kerül a csapatnév..." type="text" value="{{data.csapatNev}}">
                {{#if validationErrors.csapatNev}}
                    <span class="help-block">{{validationErrors.csapatNev.msg}}</span>
                {{/if}}
            </div>
        </div>
        <div class="form-group
            {{#if validationErrors.elsoJatekosNeve}}
                has-error
            {{/if}}
        ">
            <label for="elsoJatekosNeve" class="col-lg-2 control-label">Első játékos</label>
            <div class="col-lg-10">
                <input class="form-control" id="elsoJatekosNeve" name="elsoJatekosNeve" placeholder="Jóska" type="text" value="{{data.elsoJatekosNeve}}">
                {{#if validationErrors.elsoJatekosNeve}}
                    <span class="help-block">{{validationErrors.elsoJatekosNeve.msg}}</span>
                {{/if}}
            </div>
        </div>
        <div class="form-group
            {{#if validationErrors.masodikJatekosNeve}}
                has-error
            {{/if}}
        ">
            <label for="masodikJatekosNeve" class="col-lg-2 control-label">Második játékos</label>
            <div class="col-lg-10">
                <input class="form-control" id="masodikJatekosNeve" name="masodikJatekosNeve" placeholder="Pista" type="text" value="{{data.masodikJatekosNeve}}">
                {{#if validationErrors.masodikJatekosNeve}}
                    <span class="help-block">{{validationErrors.masodikJatekosNeve.msg}}</span>
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>        